.panel-sidebar {
  border-right: solid #696968 1px !important;
}

.panel-content-main {
  background: #636363;
}

.uk-nav-default>li>a:hover {
  background: #424040;
}

.modal-loading-style {
  color: #59d451;
}

.uk-notification-message-success {
  color: #fff !important;
  background: #56a91e !important;
  border-radius: 5px;
}

nav{
  border-bottom: solid #696968 1px;
}

nav,.panel-sidebar{
  background: #484848;
}

li>*,h1,h2,h3,h4,h5,td,tr{
  color: #fff !important;
}

*:not(i,.uk-modal,label){
  color: white;
}

.uk-card{
  background: #565353;
  box-shadow: 0px 5px 15px rgb(117 197 210 / 22%);
}

.uk-table-striped tbody tr:nth-of-type(odd), .uk-table-striped>tr:nth-of-type(odd) {
  background: #656262;
  border-top: 1px solid #656262;
  border-bottom: 1px solid #656262;
}

label:not(.uk-modal){
  color: #e2c161;
  font-weight: bold;
}

.item-in-card{
  background: #838486;
  color: #000;
}

.item-in-card>.item-image{
  font-size: 90px;
  color: #e2c161;
}
.item-in-card>.item-type{
  font-size: 12px;
  color: #76e65b;
}
.item-in-card>.item-name{
  font-size: 14px;
  color: #fff;
  word-break: break-all;
}
.item-in-card>.item-btns{
  font-size: 20px;
}
.item-in-card>.item-btns>i{
  margin-right: 3px;
}

.c-switcher>button{
  background: #b0b0b0;
  color: white;
}
.c-switcher>button:hover{
  background: #9d9999;
}

.c-switcher>button.uk-active{
  background: #399039;
}

.c-button{
  background: #b0b0b0;
  color: white;
}


.profile-image-div{
  border-color: #1e87f0;
}
.profile-image-div>.fa-plus-square{
  background: #1e87f0;
}
.profile-image-div>.fa-minus{
  background: #ffa500;
}

.uk-dropdown{
  background: #a2a2a2 !important;
}
